cython
pillow
iopath
simplejson
psutil
opencv-python
torchvision
tensorboard
pytorchvideo
fairscale
# git+https://github.com/facebookresearch/detectron2.git
# 'git+https://github.com/facebookresearch/fvcore.git' ##  fairscale with automatically install yacs, iopath, parameterized, fvcore, av, pytorchvideo, fairscale 
# detectron2 install cocoAPI
# python setup.py build develop
